<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DepartmentServer.Properties.Settings.DepartmentConnectionString"
            connectionString="Data Source=ZENBOOK\SQLEXPRESS;Initial Catalog=Department;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>